body{
    margin: 0px;
    padding: 0px;
}
#main{
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    padding: 0px;
}
.square {
    background: linear-gradient(to bottom right, #0000, #fff4, #0000, #fff4);
    background-size: 300% 300%;
    animation: gradient-animation 1s linear infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }